<%= turbo_stream.replace "like-#{@post.id}" do %>
  <%= button_to post_like_path(@post), method: :delete, class: "flex items-center text-rose-400 text-sm hover:text-rose-300 transition cursor-pointer group/action" do %>
    <svg class="w-5 h-5 mr-2 group-hover/action:scale-110 transition" fill="currentColor" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/></svg>
    <span class="font-bold"><%= @post.like_count %></span>
  <% end %>
<% end %>